* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 50rem;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.home {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.articles-list {
  list-style-type: none;
}

.articles-cont {
  margin-bottom: 1.5rem;
}

.article-excerpt {
  margin-bottom: 0.5rem;
}

.article-date {
  opacity: 0.7;
  font-size: smaller;
}
